<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/layout"
	xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5"
	layout:decorator="template1">
<head>
<title>Error</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header text-center font-weight-bold">
					<h3 class="text-danger">Vous n'êtes pas autorisé.</h3>
				</div>
			</div>

		</div>
	</div>

</body>
</html>